<!DOCTYPE html>
<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>验证码识别 Power by qianxiao996</title>
		<!-- 新 Bootstrap4 核心 CSS 文件 -->
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
	<!-- <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css"> -->
	<link rel="stylesheet" href="/static/bootstrap.min.css">
	<!-- <script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script> -->
    <script src="/static/jquery.js"></script>

	<script src="/static/bootstrap.min.js"></script>
	<style type="text/css">
        .pre{
            padding:.375rem .75rem;
            font-size: 1rem;    
            border: 1px solid #ced4da;
            border-radius: 0.25rem;

        }

        pre{
            white-space:pre-wrap;
            white-space:-moz-pre-wrap;
            white-space:-pre-wrap;
            white-space:-o-pre-wrap;
            word-wrap:break-word;
        }

	</style>

<script>
function changeheight()
{
	window.parent.change_iframe_height()

}

</script>
</head>
<body>
    <div class="container" style="padding:20px">
        <div>
            <h2 align="center" style="color:blue">验证码识别API接口</h2>
        </div>
        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#shuoming" role="tab" aria-controls="shuoming" aria-selected="false"><h6>使用说明</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ddddocr" role="tab" aria-controls="ddddocr" aria-selected="true"><h6>ddddocr</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#muggle_ocr" role="tab" aria-controls="muggle_ocr" aria-selected="false"><h6>muggle_ocr</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#easyocr" role="tab" aria-controls="easyocr" aria-selected="false"><h6>easyocr</h6></a>
                </li>

            </ul>
            
            <div class="tab-content" id="data_">
                <div class="tab-pane fade in" id="ddddocr">
                    
                    <div style="float:left;width: 50%;padding:10px;word-wrap: break-word;white-space : normal">
                        <p>请求数据包:</p>
                    <pre  class="pre">
POST /ddddocr/base64 HTTP/1.1
Host: x.x.x.x:x
Content-Type: application/json

{
    "user": "user",
    "token": "token",
    "image": "&lt;@URLENCODE&gt;&lt;@BASE64&gt;&lt;@IMG_RAW&gt;&lt;/@IMG_RAW&gt;&lt;/@BASE64&gt;&lt;/@URLENCODE&gt;"
}
                    </pre>

                    </div>
                    <div style="float:right;width: 50%;padding:10px;word-wrap: break-word;white-space : normal">   
                        <p>返回数据包:</p>
                        <pre  class="pre">
HTTP/1.0 200 OK
Content-Type: application/json
Content-Length: 31
Server: Werkzeug/2.0.1 Python/3.7.2
Date: Wed, 02 Mar 2022 03:22:13 GMT

{"result":"slrr","status":"1"}
                        </pre>
                    </div>

                </div>
                <div class="tab-pane fade in" id="muggle_ocr">
                        
                    <div style="float:left;width: 50%;padding:10px;word-wrap: break-word;white-space : normal">
                        <p>请求数据包:</p>
                        <pre  class="pre">
POST /muggle_ocr/base64 HTTP/1.1
Host: x.x.x.x:x
Content-Type: application/json

{
    "user": "user",
    "token": "token",
    "image": "&lt;@URLENCODE&gt;&lt;@BASE64&gt;&lt;@IMG_RAW&gt;&lt;/@IMG_RAW&gt;&lt;/@BASE64&gt;&lt;/@URLENCODE&gt;"

}
                        </pre>

                    </div>
                    <div style="float:right;width: 50%;padding:10px;word-wrap: break-word;white-space : normal">   
                        <p>返回数据包:</p>
                        <pre  class="pre">
HTTP/1.0 200 OK
Content-Type: application/json
Content-Length: 31
Server: Werkzeug/2.0.1 Python/3.7.2
Date: Wed, 02 Mar 2022 03:22:13 GMT

{"result":"slrr","status":"1"}
                        </pre>
                    </div>
                </div>
                <div class="tab-pane fade in" id="easyocr">
                            
                    <div style="float:left;width: 50%;padding:10px;word-wrap: break-word;white-space : normal">
                        <p>请求数据包:</p>
                        <pre  class="pre">
POST /easyocr/base64 HTTP/1.1
Host: x.x.x.x:x
Content-Type: application/json

{
    "user": "user",
    "token": "token",
    "image": "&lt;@URLENCODE&gt;&lt;@BASE64&gt;&lt;@IMG_RAW&gt;&lt;/@IMG_RAW&gt;&lt;/@BASE64&gt;&lt;/@URLENCODE&gt;"
}
                        </pre>

                    </div>
                    <div style="float:right;width: 50%;padding:10px;word-wrap: break-word;white-space : normal">   
                        <p>返回数据包:</p>
                        <pre  class="pre">
HTTP/1.0 200 OK
Content-Type: application/json
Content-Length: 31
Server: Werkzeug/2.0.1 Python/3.7.2
Date: Wed, 02 Mar 2022 03:22:13 GMT

{"result":"slrr","status":"1"}
                        </pre>
                    </div>

                </div>
                <div class="tab-pane fade in show  active" id="shuoming">
<!-- <br><p>本接口采用easyocr、muggle_ocr、dddd_ocr进行验证码识别，请自行调用需要使用的接口，账号需去http://vuln.online进行注册。</p> -->
<br>
<p style="color:red">接口地址为当前访问地址及端口</p>
<h3  align="center">参数说明</h3>
                    <table class="table table-striped table-bordered ">
                        <!-- <caption>参数说明</caption> -->
                        <thead>
                            <tr>
                                <th>字段名</th>
                                <th>类型</th>
                                <th>解释</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>user</td>
                                <td>string</td>
                                <td>用户名</td>
                            </tr>
                            <tr>
                                <td>token</td>
                                <td>string</td>
                                <td>身份认证标识，个人信息页面获取。</td>
                            </tr>
                            <tr>
                                <td>image</td>
                                <td>string</td>
                                <td>图片原图像base64编码</td>
                            </tr>
                            <tr>
                                <td>result</td>
                                <td>string</td>
                                <td>返回的识别结果</td>
                            </tr>
                            <tr>
                                <td>status</td>
                                <td>string</td>
                                <td>是否识别成功，成功返回1，失败返回0</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div style="clear:both;" align="right">
            Power by 浅笑996
        </div>
	</div>

<script>
	$('#myTab a').click(function (e) {
		e.preventDefault()
		\$(this).tab('show')
		})
</script>
</body>
</html>